/* Move down content because we have a fixed navbar that is 50px tall */
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/kTYfCWJhlldPf5LnG4ZnHCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/hpORcvLZtemlH8gI-1S-7iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://fonts.gstatic.com/s/ptsans/v8/GpWpM_6S4VQLPNAQ3iWvVRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://fonts.gstatic.com/s/ptsans/v8/7dSh6BcuqDLzS2qAASIeuhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://fonts.gstatic.com/s/ptsans/v8/DVKQJxMmC9WF_oplMzlQqRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
	  background: url('/design/img/background_login.jpg') no-repeat center;
	  background-size: cover;
	  font-family: 'PT Sans';
}



#logo {
	margin: 10px 0 20px 0;
	
}



/* ==== eternity ==== */


.eternity-form-modal {
  background-color: #707d85;
}
.eternity-form {
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  color: #95a5a6;
  z-index: 1000;
  position: relative;/* iCheck plugin Polaris skin
----------------------------------- *//* Retina support *//* iCheck plugin Square skin, blue
----------------------------------- *//* Retina support */
}
.eternity-form h1,
.eternity-form h2,
.eternity-form h3,
.eternity-form h4,
.eternity-form h5,
.eternity-form h6 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
}

.eternity-form .login-form-section,
.eternity-form .forgot-password-section {
  width: 100%;
  max-width: 360px;
  /* border-radius: 55px; */
  margin: 15% auto 0px auto;
}
.eternity-form .login-content,
.eternity-form .forgot-password-section,
.eternity-form .reg-content {
  background-color: white;
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  /* -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); */
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); */
  border-radius: 10px;
}
.eternity-form .section-title {
  padding: 10px 20px;
  background-color: white;
}
.eternity-form .section-title h3 {
  color: #3498db;
}
.eternity-form .textbox-wrap {
  padding: 14px 20px 9px 15px;
  border-left: 5px solid transparent;
  -moz-transition: border-left-color 0.5s, box-shadow 0.5s, background-color 0.5s;
  -o-transition: border-left-color 0.5s, box-shadow 0.5s, background-color 0.5s;
  -webkit-transition: border-left-color 0.5s, box-shadow 0.5s, background-color 0.5s;
  transition: border-left-color 0.5s, box-shadow 0.5s, background-color 0.5s;
}
.eternity-form .textbox-wrap .input-group {
  /* border: 1px solid #e0e0e0; */
  /* background-color: #ffffff; */
}
.fullsize { width: 100%; }
.eternity-form .textbox-wrap .input-group textarea.form-control {
	width: 100%;
	height: 8em;
	max-width: 100%;
	min-width: 100%;
	resize: vertical;
	overflow: hidden;
	overflow-y: auto;
}

/*#region ScrollBar Styles */
textarea::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
textarea::-webkit-scrollbar-track {
  background-color: rgba(113, 112, 107, 0.2);
}
textarea::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0, 0, 0, 0.2);
}
textarea::-webkit-scrollbar-thumb:vertical:hover,
textarea::-webkit-scrollbar-thumb:horizontal:hover {
  background: white;
}
textarea::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, 0.2);
}
/*#endregion ScrollBar Styles*/


.eternity-form .textbox-wrap .input-group .input-group-addon,
.eternity-form .textbox-wrap .input-group input,
.eternity-form .textbox-wrap .input-group .form-control {
  background-color: transparent;
  border: none;
}
.eternity-form .textbox-wrap .input-group input,
.eternity-form .textbox-wrap .input-group .form-control,
.eternity-form .textbox-wrap .input-group input:focus,
.eternity-form .textbox-wrap .input-group .form-control:focus {
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #C7C7C7;
  width: 250px;
}
.eternity-form .textbox-wrap .input-group [class^="fa-"],
.eternity-form .textbox-wrap .input-group [class*=" fa-"],
.eternity-form .textbox-wrap .input-group i {
  color: #cccccc;
}
.eternity-form .textbox-wrap.focused {
  border-left-color: #3498db;
  background-color: #f0f0f0;
  -o-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
  -ms-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
  box-shadow: inset 0 0 3px rgba(0,0,0,.1);
}
.eternity-form .green-btn,
.eternity-form .green-btn:hover,
.eternity-form .blue-btn {
  background-color: #2ecc71;
  border: none;
}
.eternity-form .blue-btn,
.eternity-form .blue-btn:hover {
  background-color: #2980b9;
}
.eternity-form .login-form-action {
  padding: 15px 20px 30px 20px;
}
.eternity-form input[type="checkbox"] {
  width: 30px;
}
.eternity-form .blue {
  color: #3498db;
}
.eternity-form .green {
  color: #2ecc71;
}
.eternity-form .login-form-links {
  padding: 20px;
  margin-top: 5px;
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  background-color: white;
}
.eternity-form .login-form-links a.blue:hover,
.eternity-form .login-form-links a a.blue:focus {
  color: #3498db;
  text-decoration: underline;
}
.eternity-form .login-form-links a.green:hover,
.eternity-form .login-form-links a a.green:focus {
  color: #2ecc71;
  text-decoration: underline;
}
.eternity-form .forget-form-action {
  padding: 20px;
}
.eternity-form .registration-form-section {
  max-width: 620px;
  margin: 0 auto;
  width: 100%;
}
.eternity-form .reg-header {
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.eternity-form.dark .reg-header {
  background-color: rgba(70,70,70,0.9) !important;
}

.eternity-form .registration-left-section {
  padding-left: 0;
  padding-right: 2.5px;
}
.eternity-form .registration-right-section {
  padding-left: 2.5px;
  padding-right: 0;
}
.eternity-form .reg-content {
  margin-top: 5px;
  padding: 20px 0;
}
.eternity-form .registration-form-action {
  margin-top: 5px;
  padding: 20px;
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.eternity-form .registration-form-action-fullsize {
  margin-top: 5px;
  padding: 0px;
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}


.eternity-form .custom-checkbox {
  float: left;
}
.eternity-form .checkbox {
  display: inline-block;
  padding-left: 1px;
  margin-top: 7px;
  margin-bottom: 0;
}
.eternity-form .checkbox-text {
  line-height: 24px;
  padding-left: 5px;
}
.eternity-form .form-control:-moz-placeholder {
  font-weight: 300;
}
.eternity-form .form-control::-moz-placeholder {
  font-weight: 300;
}
.eternity-form .form-control:-ms-input-placeholder {
  font-weight: 300;
}
.eternity-form .form-control::-webkit-input-placeholder {
  font-weight: 300;
}
.eternity-form.dark,
.eternity-form .dark {
  color: #000000;
}
.eternity-form.dark .checkbox,
.eternity-form .dark .checkbox {
  margin-left: -7px;
}
.eternity-form.dark .checkbox .checkbox-text,
.eternity-form .dark .checkbox .checkbox-text {
  line-height: 23px;
  /* font-weight: 600; */
}
.eternity-form.dark .form-control,
.eternity-form .dark .form-control {
  color: #404040;
  font-weight: 600;
}
.eternity-form.dark .form-control:-moz-placeholder,
.eternity-form .dark .form-control:-moz-placeholder {
  color: #959595;
}
.eternity-form.dark .form-control::-moz-placeholder,
.eternity-form .dark .form-control::-moz-placeholder {
  color: #959595;
}
.eternity-form.dark .form-control:-ms-input-placeholder,
.eternity-form .dark .form-control:-ms-input-placeholder {
  color: #959595;
}
.eternity-form.dark .form-control::-webkit-input-placeholder,
.eternity-form .dark .form-control::-webkit-input-placeholder {
  color: #959595;
}
.eternity-form.dark .login-content,
.eternity-form .dark .login-content,
.eternity-form.dark .forgot-password-section,
.eternity-form .dark .forgot-password-section,
.eternity-form.dark .reg-content,
.eternity-form .dark .reg-content {
  background-color: rgba(255, 255, 255, 0.9);
}
.eternity-form.dark .section-title,
.eternity-form .dark .section-title {
  background-color: rgba(70,70,70,0);
}
.eternity-form.dark .section-title h3,
.eternity-form .dark .section-title h3 {
  color: #34dbce;
}
.eternity-form.dark .textbox-wrap .input-group,
.eternity-form .dark .textbox-wrap .input-group {
  /* border: 1px solid #ABABAB; */
  /* background-color: #383838; */
  border-radius: 5px;
}
.eternity-form.dark .textbox-wrap .input-group [class^="fa-"],
.eternity-form .dark .textbox-wrap .input-group [class^="fa-"],
.eternity-form.dark .textbox-wrap .input-group [class*=" fa-"],
.eternity-form .dark .textbox-wrap .input-group [class*=" fa-"],
.eternity-form.dark .textbox-wrap .input-group i,
.eternity-form .dark .textbox-wrap .input-group i {
  color: #cccccc;
}
.eternity-form.dark .textbox-wrap.focused,
.eternity-form .dark .textbox-wrap.focused {
  border-left: 5px solid #3498db;
  background-color: rgba(59,59,59,0.7);
  -o-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
  -ms-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
  box-shadow: inset 0 0 3px rgba(0,0,0,.1);
}
.eternity-form.dark .icon-color,
.eternity-form .dark .icon-color {
  color: white;
}
.eternity-form.dark .input-group-addon1,
.eternity-form .dark .input-group-addon1 {
  background-color: #2d2d2d;
  border: none;
}
.eternity-form.dark .addon,
.eternity-form .dark .addon {
  border: 1px solid #c5c5c5;
  background-color: #393939;
}
.eternity-form.dark .green-btn,
.eternity-form .dark .green-btn,
.eternity-form.dark .green-btn:hover,
.eternity-form .dark .green-btn:hover,
.eternity-form.dark .blue-btn,
.eternity-form .dark .blue-btn {
  background-color: #FF6933;
  color: #FFFFFF;
  padding: 6px 42px;
  font-size: 17px;
}
.eternity-form.dark .blue-btn,
.eternity-form .dark .blue-btn,
.eternity-form.dark .blue-btn:hover,
.eternity-form .dark .blue-btn:hover {
  background-color: #ffffff;
  color: #464646;
}
.eternity-form.dark .blue,
.eternity-form .dark .blue {
  color: #34dbce;
}
.eternity-form.dark .green,
.eternity-form .dark .green {
  color: #3498db;
}
.eternity-form.dark .login-form-links,
.eternity-form .dark .login-form-links {
  background-color: rgba(70,70,70,0.9);
}
.eternity-form.dark .login-form-links a.blue:hover,
.eternity-form .dark .login-form-links a.blue:hover,
.eternity-form.dark .login-form-links a a.blue:focus,
.eternity-form .dark .login-form-links a a.blue:focus {
  color: #34dbce;
}
.eternity-form.dark .login-form-links a.green:hover,
.eternity-form .dark .login-form-links a.green:hover,
.eternity-form.dark .login-form-links a a.green:focus,
.eternity-form .dark .login-form-links a a.green:focus {
  color: #3498db;
}
.eternity-form.dark .registration-form-action,
.eternity-form .dark .registration-form-action,
.eternity-form .dark .registration-form-action-fullsize,
.eternity-form.dark  .registration-form-action-fullsize {
  background-color: rgba(70,70,70,0.9);
}
.eternity-form.dark .checkbox,
.eternity-form .dark .checkbox {
  margin-top: 4px;
}
.eternity-form .radio label,
.eternity-form .checkbox label {
  font-weight: 300;
}
.eternity-form .icheckbox_polaris,
.eternity-form .iradio_polaris {
  display: block;
  margin: 0;
  padding: 0;
  width: 29px;
  height: 29px;
  background: url('/design/img/polaris.png') no-repeat;
  border: none;
  cursor: pointer;
}
.eternity-form .icheckbox_polaris {
  background-position: 0 0;
}
.eternity-form .icheckbox_polaris.hover {
  background-position: -31px 0;
}
.eternity-form .icheckbox_polaris.checked {
  background-position: -62px 0;
}
.eternity-form .icheckbox_polaris.disabled {
  background-position: -93px 0;
  cursor: default;
}
.eternity-form .icheckbox_polaris.checked.disabled {
  background-position: -124px 0;
}
.eternity-form .iradio_polaris {
  background-position: -155px 0;
}
.eternity-form .iradio_polaris.hover {
  background-position: -186px 0;
}
.eternity-form .iradio_polaris.checked {
  background-position: -217px 0;
}
.eternity-form .iradio_polaris.disabled {
  background-position: -248px 0;
  cursor: default;
}
.eternity-form .iradio_polaris.checked.disabled {
  background-position: -279px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .eternity-form .icheckbox_polaris,
  .eternity-form .iradio_polaris {
    background-image: url('/design/img/polaris@2x.png');
    -webkit-background-size: 310px 31px;
    background-size: 310px 31px;
  }
  #mute {
	  background-image: url('/design/img/music-off@2x.png');
  }
}
.eternity-form .icheckbox_square-blue,
.eternity-form .iradio_square-blue {
  display: block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url('/design/img/blue.png') no-repeat;
  border: none;
  cursor: pointer;
}
.eternity-form .icheckbox_square-blue {
  background-position: 0 0;
}
.eternity-form .icheckbox_square-blue.hover {
  background-position: -24px 0;
}
.eternity-form .icheckbox_square-blue.checked {
  background-position: -48px 0;
}
.eternity-form .icheckbox_square-blue.disabled {
  background-position: -72px 0;
  cursor: default;
}
.eternity-form .icheckbox_square-blue.checked.disabled {
  background-position: -96px 0;
}
.eternity-form .iradio_square-blue {
  background-position: -120px 0;
}
.eternity-form .iradio_square-blue.hover {
  background-position: -144px 0;
}
.eternity-form .iradio_square-blue.checked {
  background-position: -168px 0;
}
.eternity-form .iradio_square-blue.disabled {
  background-position: -192px 0;
  cursor: default;
}
.eternity-form .iradio_square-blue.checked.disabled {
  background-position: -216px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .eternity-form .icheckbox_square-blue,
  .eternity-form .iradio_square-blue {
    background-image: url('/design/img/blue@2x.png');
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px;
  }
}
@media (max-width: 767px) {
  .eternity-form .registration-left-section {
    padding-right: 0px;
  }
  .eternity-form .registration-right-section {
    padding-left: 0px;
  }
}
@media (max-width: 380px) {
  .eternity-form .blue-btn,
  .eternity-form .green-btn {
    font-size: .8em;
  }
}

html {
  height: 100%;
}
body {
  overflow-y: hidden;
  height: 100%;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.form-hz-divider {
  display: block;
  height: 1px;
  clear: both;
}
.previous-frame,
.next-frame {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 2em;
  color: grey;
  right: 0;
  display: block;
  text-decoration: none!important;
  opacity: .5;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.previous-frame:hover,
.next-frame:hover {
  opacity: 1;
}
.previous-frame {
  top: 0;
  border-radius: 0 0 0 3px;
}
.next-frame {
  bottom: 0;
  border-radius: 3px 0 0 0;
}
.colorBg {
  padding: 10px 0;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.colorBg.form-seprator {
  background-color: #ecf0f1;
  text-align: center;
  vertical-align: middle;
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  line-height: 1.4em;
  padding-left: 15px;
  padding-right: 15px;
}
.colorBg.form-seprator > i {
  font-size: 20em;
  display: inline-block;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
@media (max-width: 560px) {
  .colorBg.form-seprator > i {
    font-size: 10em;
  }
}
.colorBg.form-seprator h1 {
  font-size: 4em;
  line-height: 1.4em;
}
@media (max-width: 560px) {
  .colorBg.form-seprator h1 {
    font-size: 3em;
  }
}
.i1 {
  color: #2ecc71;
}
.i2 {
  color: #3498db;
}
.i3 {
  color: #9b59b6;
}
.i4 {
  color: #34dbce;
}
.i5 {
  color: #e67e22;
}
.i6 {
  color: #e74c3c;
}
.i7 {
  color: #5CB85C;
}
.i7 > i {
  font-size: 15em!important;
  display: inline-block;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
@media (max-width: 560px) {
  .i7 > i {
    font-size: 10em!important;
  }
}
.i8 {
  color: #34495e;
}
.nf *,
.nf {
  font-weight: normal!important;
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (min-width: 968px) {
	.eternity-form{ padding-top: 50px; }
	.no-touch.cssanimations [data-animation] {
/*     opacity: 0; */
  }
}
.login-label {
	
display: block;
	
float: left;
	
width: 70px;
	
font-weight: 100;
	
font-size: 17px;
	
padding-top: 5px;
}
input[type="text"], input[type="password"] {
	font-weight: 100 !important;
}